.ContentContainer {
    width: 100vw;
    height: 750px;
    padding: 0 100px;
}

.TextContainer {
    position: relative;
    top: 250px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    overflow: visible;
}

.Text {
    font-size: 40px;
    width: calc(100% - 500px);
}

.MyGIF {
    position: relative;
    background-image: url(../public/MOSHED-2022-3-28-0-11-11.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
}

.MyGIF::after {
    content: "";
    background-color: #48ff51;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    filter: blur(25px);
}

.MyGIFContainer {
    width: 450px;
    height: 450px;
    background: #48ff50;
    border-radius: 50%;
    z-index: 1000;
}