.FooterContainer {
  position: absolute;
  display: flex;
  padding: 25px 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 5rem;
  background-color: #00090a;
  color: #00ff41;
  font-size: 32px;
  text-align: center;
  border-top: 2px dashed #00ff41;
}
