@font-face {
  font-family: VT323;
  src: url("../public/VT323-Regular.ttf") format(truetype);
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: VT323, sans-serif;
  overflow-x: hidden;
  background: #00090a;
  z-index: -10;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
