.TextContainer {
  width: 100vw;
  min-height: 90vh;
  padding: 100px 50px 0 50px;
}

.IntroText {
  position: relative;
  color: #1bff80;
  opacity: 1;
  z-index: 5;
  font-size: 102px;
  line-height: 200px;
  width: 100%;
  margin-bottom: 50px;
}

.FirstTextTransition {
  position: absolute;
  color: #1bff8033;
  top: 0;
  left: 0;
  overflow: hidden;
}

.SecondTextTransition {
  position: absolute;
  color: #1bff8080;
  top: 0;
  left: 0;
  overflow: hidden;
}

.ThirdTextTransition {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.Disappeared1 {
  animation: 60ms forwards 0ms fade-in-out;
}

.Disappeared2 {
  animation: 60ms forwards 40ms fade-in-out;
  opacity: 0;
}

.Showed {
  animation: 60ms forwards 60ms fade-in;
  opacity: 0;
}

.IntroTextBlur {
  position: absolute;
  top: 0;
  left: 0;
  color: #1bff80;
  filter: blur(10px);
  z-index: -10;
}

.hidden {
  position: relative !important;
  opacity: 0 !important;
}

.DownloadResume {
  color: #1bff80;
  padding: 15px;
  border: 1px solid #1bff80;
}

@media (max-width: 1280px) {
  .TextContainer {
    min-height: 90vh;
  }

  .IntroText {
    font-size: 94px;
    line-height: 100px;
  }
}

@media (max-width: 768px) {
  .TextContainer {
    min-height: 90vh;
  }

  .IntroText {
    font-size: 72px;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    display: none;
  }

  45% {
    opacity: 1;
    display: block;
  }

  55% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  45% {
    opacity: 1;
    display: block;
  }

  55% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 1;
    display: block;
  }
}
