.TextContainer {
  width: 100vw;
  height: 90vh;
  padding: 0 50px 0px 50px;
}

.IntroText {
  position: relative;
  color: #fff;
  opacity: 1;
  z-index: 5;
  font-size: 192px;
  line-height: 200px;
  width: 100%;
}

.FirstTextTransition {
  position: absolute;
  color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  overflow: hidden;
}

.SecondTextTransition {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  overflow: hidden;
}

.ThirdTextTransition {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.Disappeared1 {
  animation: 60ms forwards 0ms fade-in-out;
}

.Disappeared2 {
  animation: 60ms forwards 40ms fade-in-out;
  opacity: 0;
}

.Showed {
  animation: 60ms forwards 60ms fade-in;
  opacity: 0;
}

.IntroTextBlur {
  position: absolute;
  top: 0;
  left: 0;
  color: #48ff50;
  filter: blur(10px);
  z-index: -10;
}
@media (max-width: 1280px) {
  .IntroText {
    font-size: 164px;
    line-height: 200px;
  }
}

@media (max-width: 768px) {
  .IntroText {
    font-size: 120px;
    line-height: 150px;
  }
}

@media (max-width: 767px) {
  .IntroText {
    font-size: 72px;
    line-height: 100px;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    display: none;
  }
  45% {
    opacity: 1;
    display: block;
  }
  55% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }
  45% {
    opacity: 1;
    display: block;
  }
  55% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
