/* Navigation Bar Container */
.NavBar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #00090a;
  opacity: 0;
  z-index: 100;
  padding: 0 50px;
  animation: fade-in 0.25s ease-in 0.1s forwards;
}

/* Logo Section */
.logo {
  position: relative;
  width: fit-content;
  height: fit-content;
  font-size: 124px;
  cursor: pointer;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}

.text:nth-child(1),
.text:nth-child(2) {
  color: white;
}

.text:nth-child(1) {
  animation: fade-out 0.1s ease-out .5s forwards;
}

.text:nth-child(2) {
  opacity: 0;
  animation: fade-in-out 0.1s ease-out .6s forwards;
}

.text:nth-child(3)::before {
  filter: blur(10px);
}

.text:nth-child(3),
.text:nth-child(3)::before {
  color: #48ff50;
  opacity: 0;
  content: attr(data-before);
  position: absolute;
  top: 0;
  left: 0;
  animation: fade-in 0.1s ease-out .7s forwards;
}

/* Navigation Items List Container */
.NavBarItemsContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  height: 150px;
  font-size: 64px;
}

.NavBarItemsContainer li {
  max-width: 50px;
}

.burgerMenu {
  display: none;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .NavBar {
    padding: 0 50px;
  }

  .NavBarItemsContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00090a;
    width: 100vw;
    height: 100vh;
    font-size: 64px;
    transition: 0.5s;
  }

  .shown {
    display: flex !important;
    opacity: 1;
  }

  .burgerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 30px;
  }

  .line {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #48ff50;
    transition: 0.2s;
  }

  .close .line {
    height: 15px;
  }

  .close .line:nth-child(1):after,
  .close .line:nth-child(3):after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    height: calc(100% + 5px);
    background-color: #00090a;
  }

  .close .line:nth-child(2):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background-color: #00090a;
  }

  .close .line:nth-child(2):after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-95%);
    width: 35%;
    height: 100%;
    background-color: #00090a;
  }

  .item,
  .ActiveItem::before {
    transform: translate(-50%, -50%) !important;
  }
}

.NavBarItem {
  position: relative;
}

.NavBarItem:nth-child(1) {
  animation: fade-out 0.1s ease-out .5s forwards;
}

.NavBarItem:nth-child(2) {
  opacity: 0;
  animation: fade-in-out 0.1s ease-out .6s forwards;
}

.NavBarItem:nth-child(3) {
  cursor: pointer;
  opacity: 0;
  animation: fade-in 0.1s ease-out .7s forwards;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -50%);
}

.ActiveItem {
  color: #48ff50;
}

.ActiveItem::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  content: attr(data-before);
  color: #48ff50;
  filter: blur(5px);
  z-index: -1;
}

/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
    pointer-events: none;
  }

  100% {
    opacity: 1;
    display: inline;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: inline;
  }

  100% {
    opacity: 0;
    display: none;
    pointer-events: none;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    display: none;
    pointer-events: none;
  }

  45% {
    opacity: 1;
    display: block;
  }

  55% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
    pointer-events: none;
  }
}