.ProjectContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 1px #48ff50 solid;
  color: #48ff50;
}

.ProjectTitle {
  position: relative;
  color: #48ff50;
  opacity: 0;
  font-size: 48px;
}

.ProjectTitle::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 48px;
  color: #48ff50;
  filter: blur(5px);
  z-index: -1;
}

.ProjectDescription {
  font-size: 18px;
  opacity: 0;
}

.ProjectLinks {
  font-size: 22px;
  position: relative;
  color: #48ff50;
  opacity: 0;
  margin-right: 15px;
  cursor: pointer;
  z-index: 9999;
}

.ProjectLinks::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 17px;
  font-size: 22px;
  color: #48ff50;
  filter: blur(2.5px);
  z-index: -1;
  pointer-events: none;
}

.ProjectContentVisible {
  animation: show-content 0.75s linear forwards;
  animation-delay: 900ms;
}

.ProjectContentHidden {
  animation: hide-content 0.05s linear forwards;
}

.ProjectFadeIn {
  animation: project-fade-in 0.75s ease-in-out forwards;
}

.ProjectFadeIn::before,
.ProjectFadeOut::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px #48ff50 solid;
  filter: blur(2.5px);
  pointer-events: none;
}

.ProjectFadeOut {
  animation: project-fade-out 0.75s ease-in-out forwards;
}

@keyframes project-fade-in {
  0% {
    padding: 0;
    width: 0px;
    height: 0px;
  }

  33% {
    width: 100%;
    height: 0px;
    padding: 0;
  }

  100% {
    width: 100%;
    height: 100%;
    padding: 25px;
  }
}

@keyframes project-fade-out {
  0% {
    width: 100%;
    height: 100%;
    padding: 25px;
  }

  33% {
    width: 100%;
    height: 0px;
    padding: 0;
  }

  100% {
    width: 0px;
    height: 0px;
    padding: 0;
  }
}

@keyframes show-content {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes hide-content {
  0% {
    display: block;
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}
