.SkillsContainer {
  width: 100vw;
  padding: 150px 50px 0px 50px;
  color: #1bff80;
}
.SkillHeader {
  font-size: clamp(40px, 5vw, 50px);
  line-height: 1;
  display: inline-block;
  color: #1bff80;
  z-index: 2;
  letter-spacing: 10px;
  filter: drop-shadow(0 1px 5px);
  margin-top: 50px;
}
.CategoryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  border-top: 2px dashed #1bff80;
}
.ToolContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  filter: drop-shadow(0 1px 2px);
}

@media (max-width: 449px) {
  .CategoryContainer {
    justify-content: center;
  }
}
