.ContentContainer {
  width: 100vw;
  min-height: 750px;
  padding: 150px 50px 0px 50px;
}

.TextContainer {
  position: relative;
  top: 250px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
  overflow: visible;
}

.ProjectOuterContainer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

@media (max-width: 768px) {
  .ProjectOuterContainer {
    height: 600px;
  }
}
@media (max-width: 540px) {
  .ProjectOuterContainer {
    height: 750px;
  }
}
